@model RSSReaderViewModel
@{
    ViewBag.Title = "Index";
}

<h2>RSS Reader</h2>

@Html.ValidationSummary()

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Title", "Index", new { sort = "title", url = Model.URL })
            </th>
            <th>
                @Html.ActionLink("Publication Date", "Index", new { sort = "pubDate", url = Model.URL })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feed in Model.Feeds)
        {
        <tr>
            <td> <a href="@feed.Link.AbsoluteUri"> @feed.Title</a> </td>
            <td>@feed.PublicationDate</td>
        </tr>
        }
    </tbody>
</table>